<!-- TODO: Este es el ejercicio de onChanges() -->
<!-- <p>pagina1 works!</p>
<input type="text" placeholder="Hola Mundo" [(ngModel)]="nombre" />
<button (click)="guardar()">Click</button>
<br />
<br /> -->

<!-- <app-muestra-nombre [nombre]="nombre"></app-muestra-nombre> -->
<!-- en este caso ahora estamos carganfo el vinculo de la propiedad[] "nombre"  que contiene "Edgar"-->

<!-- <app-muestra-nombre nombre="Juan"></app-muestra-nombre> -->
<!-- nombre va a ser recibido por el @Input  en app-muestr-nombre, en este caso ahora le vamos a guardar  "Juan"-->
<!-- Al detectar este cambio en la variable se va a ejecutar  Onchanges  y va a ejecutar el console.log(changes)-->
<h1>Segundos: {{ segundos }}</h1>
